<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Taxisto Example</title>
    <!-- Bootstarp CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"/>
    <style>
        .container .page-header {
            margin-top: 70px;
        }
    </style>
</head>
<body ng-app="taxisto">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Taxisto</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#">Log In</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container" ng-controller="PostController">
    <div class="page-header">
        <h1>Posts</h1>
    </div>
    <div ng-repeat="post in posts">
        <a href="#">
            <h2 ng-bind="post.title"></h2>
        </a>
        <blockquote ng-bind="post.text"></blockquote>
<!--
            <p>Posted by <a ng-href="#" ng-bind-template="{{post.author ? post.author : 'admin'}}"></a> <span ng-bind-template="on {{post.date}}"></span></p>
-->
        <p ng-cloak>Posted by <a href="#">{{post.author ? post.author : 'admin'}}</a> on {{post.date}}</p>
        <hr/>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div ng-if="true">
                <h2>New post</h2>
                <form>
                    <div class="form-group">
                        <input class="form-control" ng-model="newPost.title" type="text">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" ng-model="newPost.text"></textarea>
                    </div>
                    <button class="btn btn-primary" ng-click="add()">Post</button>
                </form>
            </div>
        </div>
        <div class="col-lg-4">
        </div>
        <div class="col-lg-4">
        </div>
    </div>
</div>
<!-- External JS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-resource.min.js"></script>
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<!-- Custom JS -->
<script src="../resources/js/taxisto.js"></script>
</body>
</html>
